html,
body,
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Helvetica', serif;
}

:root {
    --pr-color: #0D28A6;
    --btn-color: #5CB85F;
}

@font-face {
    font-family: 'Helvetica';
    src: url('./public/assets/font/halvetica/Helvetica.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 16px;
}

p {
    font-size: 14px;
}

li {
    list-style: none;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.rent-btn {
    padding: 8px 12px;
    border: none;
    border-radius: 2px;
    font-size: 14px;
    background: var(--btn-color);
}

/* navbar */
.nav-link {
    margin-right: 32px;
}

/* hero section */
#Hero {
    height: 100vh;
    background-color: #F1F3FF;
    margin-bottom: 100px;
}

.img-hero {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    object-position: right;
}

/* service section */
#Service {
    margin-bottom: 100px;
}

.img-service {
    width: 459px;
    height: 428px;
    flex-shrink: 0;
}

/* why us section */
#Whyus {
    margin-bottom: 100px;
}

.row {
    padding-top: 40px;
}

.whyus-card {
    height: 196px;
    border-radius: 8px;
    border: 1px solid #D0D0D0;
}

/* tentimonial section */
#Testimonial {
    margin-bottom: 100px;
}

.img-carousel {
    height: 60px;
    width: 60px;
    object-fit: cover;
}

.carousel-inner {
    margin-top: 40px;
}

.carousel-item {
    max-width: 600px;
}

.card {
    background-color: #F1F3FF;
    width: 619px;
    height: 270px;
    padding-top: 69px;
    padding-bottom: 69px;
    padding-right: 32px;
    padding-left: 32px;
    border-radius: 8px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
}

/* rent section */
#Rent {
    margin-bottom: 100px;
}

.rent-container {
    background-color: var(--pr-color);
    border-radius: 13px;
    padding-top: 64px;
    padding-bottom: 64px;
}

.rent-container p {
    margin-bottom: 52px;
}

/* faq section */
#Faq {
    margin-bottom: 100px;
}

.accordion-item {
    width: 668px;
    border-radius: 4px;
    border: 1px solid #D4D4D4;
}

.mb-faq-content {
    margin-bottom: 150px;
}

/* footer section */
#Footer {
    padding-bottom: 100px;
}